<footer class="bg-dark text-light py-5 bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Cine</h5>
        <p class="small mb-0">Tu destino para los mejores estrenos y clásicos del cine. Vive la magia del séptimo arte con nosotros.</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Enlaces</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/cartelera" class="text-light text-decoration-none">Cartelera</a></li>
          <li class="mb-2"><a href="/confiteria" class="text-light text-decoration-none">Confitería</a></li>
          <li class="mb-2"><a href="/promociones" class="text-light text-decoration-none">Promociones</a></li>
          <li class="mb-2"><a href="/contacto" class="text-light text-decoration-none">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Horarios</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Lunes - Viernes: 14:00 - 00:00</li>
          <li class="mb-2">Sábado - Domingo: 11:00 - 01:00</li>
          <li class="mb-2">Feriados: 11:00 - 00:00</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase mb-3">Síguenos</h5>
        <ul class="list-inline">
          <li class="list-inline-item me-3">
            <a href="#" class="text-light fs-5"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="list-inline-item me-3">
            <a href="#" class="text-light fs-5"><i class="bi bi-twitter"></i></a>
          </li>
          <li class="list-inline-item me-3">
            <a href="#" class="text-light fs-5"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light fs-5"><i class="bi bi-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-4 bg-secondary">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="small mb-0">&copy; 2023 Cine. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <a href="#" class="text-light text-decoration-none small me-3">Política de Privacidad</a>
        <a href="#" class="text-light text-decoration-none small">Términos de Servicio</a>
      </div>
    </div>
  </div>
</footer>